{{define "title"}}Oversikt{{end}}

{{define "body"}}
<div class="col-md-10 centered main">
    <h1 class="page-header">Oversikt</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>

    <h2 class="sub-header">Dine brukerundersøkelser:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:15%">Dato</th>
                <th style="width: 30%">Tittel</th>
                <th style="width: 15%">Antall Spørsmål</th>
                <th style="width: 15%">Antall Brukertester</th>
                <th style="width: 10%">Score</th>
            </tr>
            </thead>
            <tbody>
            {{ range $index, $elem := . }}
            <tr>
                <td>1,001</td>
                <td>{{ .Title }}</td>
                <td>{{ len .Questions }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{end}}