<div class="col-md-10 col-md-offset-1 centered main" ng-controller="createCtrl">
    <h1 class="page-header">Opprett Brukerundersøkelse:</h1>
    <form>
        <div class="form-group">
            <label for="title">Tittel:</label>
            <input style="max-width: 650px" type="text" class="form-control" ng-model="title" ng-value="title" id="title" placeholder="Tittel">
            <label for="longitude">Latitude:</label>
            <input style="max-width: 650px" type="number" class="form-control" ng-model="latitude" ng-value="latitude" id="latitude" placeholder="Latitude">
            <label for="longitude">Longitude:</label>
            <input style="max-width: 650px" type="number" class="form-control" ng-model="longitude" ng-value="longitude" id="longitude" placeholder="Longitude">
        </div>
        <h3 style="margin-top: 50px;" class="sub-header">Legg til Spørsmål:</h3>
        <div class="questions" style="max-width: 650px" ng-repeat="q in questions">
            <h3>#{{ $index + 1 }}<span ng-if="q.question"> - {{ q.question }}</span></h3>
            <div class="form-group">
                <label>Spørsmål:</label>
                <input type="text" class="form-control" class="question" placeholder="Spørsmål" ng-model="q.question" ng-value="q.question">
            </div>
            <button type="button" class="btn btn-danger" ng-click="removeQuestion(indexOf(q))">X</button>
            <div class="form-group">
                <label>Type:</label>
                <select ng-model="q.type" style="max-width: 250px" class="form-control">
                    <option value="stemning">Stemning</option>
                    <option value="gradering">Gradering</option>
                    <option value="flervalg">Flervalg</option>
                    <option value="text">Tekst</option>
                </select>
            </div>
        </div>
        <a href="#" ng-click="addQuestion()">Legg til flere</a><br />

        <button type="submit" style="margin-left: 20px;" class="btn btn-primary pull-right" ng-click="createUserTest()">Opprett Undersøkelse</button>
        <button type="submit" class="btn btn-default pull-right">Tøm innhold</button>
    </form>
</div>