<h1 class="page-header">Analyse: {{  ut.title }}</h1>
<p>Posisjon: {{ ut.latitude }}, {{ ut.longitude }}</p>

<h3>Spørsmål</h3>
<p>Antall Besvarelser {{ ut.feedback.length }}</p>
<ul>

    <li ng-repeat="q in ut.questions">
        <h3>{{ q.question }} <small>({{ q.type }})</small></h3>
        <div ng-if="q.type == 'stemning'">
            <div class="pie-chart">
                <canvas id="register" class="chart chart-pie" width="200" height="200" class="img-responsive"
                    chart-data="moodData[$index]" chart-labels="moodLabels" chart-options="options" chart-colors="colors">
                </canvas>
            </div>
            <img src="{{ getImage(getAverage($index).toFixed(1)) }}" />
            <p>Du har oppnådd ett gjennomsnitt på {{ getAverage($index).toFixed(1) }} på en skala fra 1 til 5</p>
        </div>
        <div ng-if="q.type == 'flervalg'">

        </div>
    </li>
</ul>
<p ng-if="hasFeedback()">Total Score: {{ getScore().toFixed(1) }}</p>