{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CEMlocate - {{template "title"}}</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="icon"
      type="image/png"
      href="../../assets/imgs/logoWBg.png"
    />

</head>
<body ng-app="app">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid col-md-10 centered">


        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CEMlocate<img id="logo" src="../../assets/imgs/logo.png"/></a>


        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Oversikt</a></li>
                <li><a href="/ny-undersokelse">Ny undersøkelse</a></li>
                <li><a href="/innstillinger">Innstillinger</a></li>
                <li><a href="/logout">Logg ut</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
        {{ template "body" . }}
</div>

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/angular.min.js"></script>

<!-- Angular charts -->
<script src="/assets/js/bower_components/chart.js/dist/Chart.js"></script>
<script src="/assets/js/angular-chart.js"></script>


<script>
    var App = angular.module('app', ['chart.js']);
</script>

<!-- Angular Controllers: -->
<script src="/assets/js/controllers/createController.js"></script>
<script src="/assets/js/controllers/showController.js"></script>
<script src="/assets/js/controllers/indexController.js"></script>

</body>
</html>
{{end}}